body {
  background: #f1eee5;
  font: 12px/18px 'Roboto', Verdana, sans-serif;
  margin: 0;
  color: #b9c0c6; }

p {
  margin: 0; }

a {
  text-decoration: none;
  color: #3a3731;
  display: block; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.clearfix {
  content: '';
  display: block;
  clear: both; }

.container {
  margin: 0 auto;
  max-width: 1010px;
  padding: 0 10px; }

.logo {
  display: inline-block;
  padding: 4px 0 0 25px; }

.header_top {
  margin-top: 13px;
  overflow: hidden;
  padding-bottom: 17px; }

.contact {
  float: right; }
  .contact p {
    padding: 0 0 0 5px;
    text-align: right;
    color: #2c251c;
    font-size: 11px;
    font-family: 'Roboto', sans-serif; }
  .contact a {
    font-size: 20px;
    color: #2c251c;
    text-align: right;
    padding: 0px 0 13px 0;
    font-family: 'Roboto', sans-serif; }
    .contact a:hover {
      color: #209a28; }

.contact_nav {
  float: right; }
  .contact_nav .contact_ul {
    margin-right: -4px; }
  .contact_nav li {
    display: inline-block; }
    .contact_nav li a {
      font-size: 11px;
      color: #209a28;
      text-transform: uppercase;
      padding: 3px 4px 2px 10px;
      font-family: 'Roboto', sans-serif; }
      .contact_nav li a:hover {
        color: #2c251c; }

.navigation .navigation_ul {
  background: #77db46;
  background: -moz-linear-gradient(top, #77db46 0%, #0d7c20 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #77db46 0%, #0d7c20 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #77db46 0%, #0d7c20 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77db46', endColorstr='#0d7c20',GradientType=0 );
  /* IE6-9 */
  border-radius: 5px;
  border: 1px solid #0c932f; }
  .navigation .navigation_ul li {
    display: inline-block; }
    .navigation .navigation_ul li a {
      font-size: 13px;
      color: #fff;
      text-transform: uppercase;
      padding: 11px 29px 11px 24px;
      display: inline-block;
      text-shadow: 0px -2px 1px #1c7c1f;
      font-family: 'Roboto', sans-serif;
      font-weight: bold; }
      .navigation .navigation_ul li a:hover {
        color: #2c251c; }

p {
  padding: 10px 5px 6px 23px;
  color: #209a28; }

#main {
  margin-bottom: 22px; }
  #main .container {
    max-width: 1010px;
    width: 100%;
    display: table;
    table-layout: fixed; }

.main_content {
  display: inline-block;
  width: 74.3%;
  padding: 15px 20px;
  background-color: #fff;
  display: table-cell; }

.slick_slide {
  position: relative;
  max-height: 266px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  z-index: 10;
  background-color: #6b685e;
  border-radius: 5px; }
  .slick_slide img {
    width: 100%; }
  .slick_slide .slick_text {
    position: absolute;
    bottom: 0;
    background: rgba(76, 73, 69, 0.78);
    height: 100%;
    width: 33%;
    right: 0px; }
  .slick_slide span {
    margin: 21px 0px 0px 14px;
    display: inline-block;
    font-size: 18px;
    font-weight: normal; }
  .slick_slide h2 {
    margin: 12px 0px 3px 14px;
    font-size: 30px;
    font-weight: normal;
    color: #209a28; }
  .slick_slide p {
    padding: 0;
    margin: 22px 8px 0px 14px;
    color: #fff;
    font-weight: normal;
    line-height: 18px;
    font-size: 12px; }
  .slick_slide .green {
    color: #209a28;
    margin: 1px 0px 8px 14px;
    font-weight: normal;
    line-height: 18px;
    font-size: 12px; }

.w {
  color: #fff;
  font-size: 12px; }
  .w li {
    background-color: #6b685e;
    border-radius: 50px;
    padding: 2px;
    margin: 4px; }
  .w .li_active {
    background: #77db46;
    background: -moz-linear-gradient(top, #77db46 0%, #0d7c20 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #77db46 0%, #0d7c20 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #77db46 0%, #0d7c20 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77db46', endColorstr='#0d7c20',GradientType=0 );
    /* IE6-9 */
    padding: 2px; }

.tap:after {
  content: " ";
  clear: both;
  display: table; }

.tap .text_tab {
  display: inline-block;
  width: 65%; }
  .tap .text_tab h1 {
    margin: 30px 0px 4px 3px;
    font-size: 23px;
    font-weight: normal;
    color: #3a3731;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif; }
  .tap .text_tab p {
    padding: 0;
    margin: 15px 0px 0px 5px;
    color: #3a3731;
    font-weight: normal;
    line-height: 18px;
    font-size: 12px; }
    .tap .text_tab p span {
      color: #209a28;
      text-decoration: underline; }

.tap .img {
  float: right;
  max-height: 118px; }
  .tap .img img {
    position: relative;
    top: -15px;
    right: 41px; }

.tap_ul {
  padding: 0;
  margin: 0;
  border: 1px solid #cfcdc5;
  border-radius: 10px; }
  .tap_ul:after {
    content: " ";
    clear: both;
    display: table; }
  .tap_ul .border {
    border-right: 1px solid #cfcdc5;
    border-left: 1px solid #cfcdc5; }
  .tap_ul .arrow_box {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 33.333333%;
    float: left; }
    .tap_ul .arrow_box:hover {
      background: #77db46;
      background: -moz-linear-gradient(top, #77db46 0%, #0d7c20 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #77db46 0%, #0d7c20 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #77db46 0%, #0d7c20 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77db46', endColorstr='#0d7c20',GradientType=0 );
      /* IE6-9 */
      border-radius: 5px; }
    .tap_ul .arrow_box a {
      font-size: 16px;
      display: inline-block;
      padding: 9px 20px;
      margin-left: -16px; }
      .tap_ul .arrow_box a:hover .fa {
        display: none; }
      .tap_ul .arrow_box a:hover {
        color: #fff; }
      .tap_ul .arrow_box a .fa-caret-right {
        display: inline-block;
        padding-right: 6px;
        color: #209a28; }
    .tap_ul .arrow_box:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(32, 154, 40, 0);
      border-top-color: #2d7131;
      border-width: 6px;
      margin-left: -6px;
      display: none; }
    .tap_ul .arrow_box:hover:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(32, 154, 40, 0);
      border-top-color: #2d7131;
      border-width: 6px;
      margin-left: -6px;
      display: inline-block; }

.tabs_1 {
  margin: 17px -10px -7px -8px; }
  .tabs_1 h3 {
    padding: 3px 2px 5px 5px;
    margin: 0;
    color: #3a3731; }
  .tabs_1 p {
    padding: 0 5px 5px 5px;
    color: #3a3731; }
  .tabs_1 li {
    display: inline-block;
    width: 32.999%;
    padding: 8px 7px 7px 12px;
    vertical-align: top; }
  .tabs_1 .images_tabs {
    min-width: 220px; }
    .tabs_1 .images_tabs img {
      width: 100%; }

.aside {
  width: 25.7%;
  display: inline-block;
  background-color: #f4f2ec;
  display: table-cell;
  border-left: 1px solid #e1dbce;
  padding-bottom: 24px; }
  .aside h4 {
    font-size: 12px;
    text-transform: uppercase;
    color: #3a3731;
    font-weight: normal;
    padding: 18px 5px 2px 21px;
    margin: 0; }
  .aside p {
    font-size: 12px;
    color: #3a3731;
    padding: 0px 5px 11px 21px; }
  .aside fieldset {
    border: 0;
    padding: 0px 21px; }
  .aside select {
    width: 100%;
    padding: 3px 5px;
    margin-bottom: 18px;
    box-shadow: 0px 0px 3px #947970;
    background-repeat: no-repeat; }
    .aside select #region {
      width: 100%; }
  .aside .selectboxit-default-arrow:before {
    content: "\f0dd";
    padding: 1px 6px 5px 6px;
    background-color: #615b49;
    border-radius: 5px;
    color: #fff; }

.search_holidays {
  background-image: url("../images/Shape-1.png");
  background-repeat: no-repeat;
  margin: 0px 0 0px 21px;
  padding: 0 0 11px 0;
  display: block; }
  .search_holidays p {
    color: #fff;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 12px 0 0 17px; }

.placeholde_submit {
  padding-left: 8px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1dbce; }

.placeholde {
  display: inline-block;
  width: 48%;
  padding: 3px 2px;
  box-shadow: 0px 0px 3px #947970;
  margin-left: 13px; }

.submit {
  margin-left: 11px;
  padding: 5px 5px;
  background: #77db46;
  background: -moz-linear-gradient(top, #77db46 0%, #0d7c20 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #77db46 0%, #0d7c20 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #77db46 0%, #0d7c20 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77db46', endColorstr='#0d7c20',GradientType=0 );
  /* IE6-9 */
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0px 0px 3px #947970;
  border: none;
  cursor: pointer; }

.email_password {
  padding: 7px 0 24px 0;
  border-bottom: 1px solid #e1dbce; }

.email {
  display: inline-block;
  margin-left: 21px;
  margin-bottom: 14px;
  padding: 3px 13px;
  box-shadow: 0px 0px 3px #947970; }

.password {
  display: inline-block;
  width: 48%;
  padding: 3px 5px;
  box-shadow: 0px 0px 3px #947970;
  margin-left: 21px; }

.news {
  padding: 6px 0 0 21px;
  display: block;
  font-weight: bold;
  color: #3a3731; }

.latest_news {
  padding: 0px 8px 0 0px; }

.footer_contact {
  text-align: center;
  background: #999387;
  background: -moz-linear-gradient(top, #999387 0%, #6e675e 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #999387 0%, #6e675e 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #999387 0%, #6e675e 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999387', endColorstr='#6e675e',GradientType=0 );
  /* IE6-9 */
  margin-bottom: 5px;
  border-radius: 5px 5px 0px 0;
  border-bottom: 2px solid #635543; }
  .footer_contact p {
    color: #fff;
    font-size: 16px;
    margin: 0px;
    padding: 11px 0; }

h6 {
  display: inline-block;
  font-size: 12px;
  padding: 10px 10px 8px 5px;
  color: #64522a;
  text-transform: uppercase;
  margin: 0; }

.color {
  background-color: #f4f2ec; }

.facebok {
  display: inline-block;
  width: 25%;
  padding: 4px 4px 15px 20px;
  vertical-align: top; }
  .facebok a {
    display: inline-block;
    padding: 7px 10px 3px 1px; }
    .facebok a img {
      display: inline-block; }
  .facebok p {
    color: #928f87;
    font-size: 12px;
    margin: 0px;
    padding: 1px 0; }

.links {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding: 4px 4px 15px 20px; }
  .links h6 {
    display: block; }
  .links ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    margin-right: 48px;
    margin-left: 4px; }
    .links ul a {
      color: #928f87;
      font-size: 12px;
      margin: 0px;
      padding: 1px 0; }
      .links ul a:hover {
        text-decoration: underline; }
  .links .last {
    margin-right: 0px; }

.contact_f {
  display: inline-block;
  width: 23%;
  vertical-align: top;
  float: none;
  padding: 6px 4px 20px 35px; }
  .contact_f h6 {
    display: block; }
  .contact_f a {
    color: #928f87;
    font-size: 12px;
    margin: 0px;
    padding: 1px 9px;
    display: block;
    float: none;
    padding-bottom: 3px; }
  .contact_f p {
    color: #928f87;
    font-size: 12px;
    margin: 0px;
    padding: 10px 9px 0px 9px;
    display: block;
    float: none; }

.bottom_futer {
  text-align: center;
  padding-bottom: 20px;
  margin-top: 13px; }
  .bottom_futer span {
    font-weight: bold;
    color: #3a3731; }
  .bottom_futer p {
    color: #928f87;
    padding: 0px; }

.touch-menu {
  display: none; }

.fa-list-ul {
  float: right;
  font-size: 25px; }

@media only screen and (max-width: 992px) {
  .navigation {
    display: none; }
    .navigation .navigation_ul {
      text-align: center;
      position: absolute;
      width: 98%;
      z-index: 100; }
      .navigation .navigation_ul li {
        display: block; }
        .navigation .navigation_ul li a:hover {
          border-bottom: 1px solid #928f87; }
  .touch-menu {
    display: block;
    padding-bottom: 30px; }
  .main_content {
    width: 70%; }
  .aside {
    width: 30%; }
    .aside fieldset {
      padding: 0px 0 0 15px; }
    .aside .demo {
      padding: 3px; }
      .aside .demo .action {
        width: 100%; }
    .aside .search_holidays {
      margin: 0px 0 0px 15px; }
  #main .slick_text {
    width: 50%; }
  .tap .img {
    width: 35%; }
  .tabs_1 {
    margin: 17px -23px -7px -7px; }
    .tabs_1 li {
      width: 48%; }
  .facebok {
    width: 35%; }
  .links {
    width: 64%; }
    .links ul {
      margin-right: 20px; }
  .contact_f {
    width: 100%;
    text-align: center; }
    .contact_f a {
      display: inline-block; }
    .contact_f p {
      display: inline-block; } }

@media only screen and (max-width: 768px) {
  .contact p {
    display: none; }
  .contact span {
    display: none; }
  .header_top {
    margin-top: 0px;
    overflow: hidden;
    padding-bottom: 5px; }
  .main_content {
    width: 100%;
    display: block; }
  .aside {
    width: 100%;
    float: none;
    background-color: #fff;
    padding: 0 10px 0 10px;
    display: block; }
  .email {
    display: block; }
  .tabs_1 {
    margin: 17px 0px -7px 7px; }
    .tabs_1 li {
      width: 49%; }
    .tabs_1 .images_tabs {
      min-width: 150px; }
  .tap .img img {
    position: relative;
    top: -2px;
    right: 20px;
    width: 162px; }
  .contact_f {
    display: none; }
  .links {
    width: 100%; }
  .facebok {
    width: 100%; }
  .aside_background {
    background-color: #f4f2ec; } }

@media only screen and (max-width: 480px) {
  .slick-dots {
    width: 50%; }
  .tap .img {
    display: none; }
  .tap .text_tab {
    width: 100%;
    padding-bottom: 10px; }
  .tap_ul .arrow_box a {
    font-size: 15px;
    padding: 6px 18px;
    margin-left: -16px; }
  .tabs_1 {
    margin: 17px 0px 0px 0px; }
    .tabs_1 li {
      width: 100%;
      padding: 8px 7px 7px 7px; }
  .header_top {
    margin-top: -19px; }
  #main .slick_text {
    width: 83%; } }
